<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        ul {
            padding: 0;
        }
    </style>
</head>
<body>

    <form class="container" action="/newContact" method="POST" enctype="multipart/form-data">
        <h1 class="text-center">Contact List</h1>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                <div class="input-group-text">...</div>
                </div>
                <input type="text" class="form-control" name="name" placeholder="Contact Name">
            </div>
        
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                <div class="input-group-text">@</div>
                </div>
                <input type="email" class="form-control" name="email"  placeholder="e-mail address">
            </div>

        <div class="input-group mb-2 ">
            <label class="custom-file-label" for="avatar">Choose File</label>
            <input type="file" class="custom-file-input" id="avatar" name="avatar">
        </div>

        <div class="input-group mb-2">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        
    </form>

    <!-- Modal -->
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title" id="modalHeader"></div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="container" action="/sendMail" method="POST" enctype="multipart/form-data">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">to</div>
                        </div>
                        <input type="email" class="form-control" name="to" id="to" readonly>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="email" class="form-control" name="cc"  placeholder="CC address">
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">...</div>
                        </div>
                        <input type="text" class="form-control" name="subject" placeholder="Mail Subject">
                    </div>

                    <div class="input-group mb-2">
                        <textarea class="form-control"  rows="3" name="message"></textarea>
                    </div>
                    
                <div class="input-group mb-2 ">
                    <label class="custom-file-label" for="avatar">Choose File</label>
                    <input type="file" class="custom-file-input" id="attach" name="attach">
                </div>

                <hr>

                <div class="input-group mb-2" id="userDiv">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="email" class="form-control" name="user"  placeholder="Your G-mail address">
                </div>

                <div class="input-group mb-2" id="passDiv">
                    <div class="input-group-prepend">
                        <div class="input-group-text">&nbsp;*&nbsp;</div>
                    </div>
                    <input type="password" class="form-control" name="pass" placeholder="Your G-mail password">
                </div>

                <hr>

                <div class="input-group mb-2">
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </div>
                
            </form>
        </div>
        <div class="modal-footer">
            <p class="text-center m-auto">© 2019 Bülent Kayici</p>
        </div>
        </div>
    </div>
    </div>

    <div class="container">
        <ul class="col-xs-12 mx-auto ul">
            {{#each contactList}}
                <li class="li row">
                    <div class="float-left col-6">
                        <img src="/uploads/{{this.avatar}}">
                        {{this.name}}
                    </div>

                    <div class="col-4 text-center float-right">
                        {{this.email}}
                    </div>

                    <div class="col-1 text-center">
                        <a href="/delete-contact/{{@index}}">❌</a>
                    </div>

                    <div class="col-1 text-center">
                        <a onclick="mailPopUp(this)" data-toggle="modal" data-target="#emailModal">✉</a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    
    <script>
        let mailPopUp = (targetObj) => {
            let contact = targetObj.parentElement.parentElement.children[0].cloneNode(true);
            let email = targetObj.parentElement.parentElement.children[1].cloneNode(true);
            modalHeader.innerHTML = '';
            contact.classList.remove("col-6");
            contact.classList.add("col-12");
            modalHeader.append(contact);
            to.value = email.innerHTML;
            console.log(email);
        }
    </script>
    
</body>
</html>